 body{
    background-color:black
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    
  }

.pic {
    width: 100%;
    margin-left: 2%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  .thisisfine {
    border: 25px solid white;
    width: 25%;

  }

